<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>vart hamnar detta?</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
 
   	<servlet>
	    <servlet-name>controlServlet</servlet-name>
	    <servlet-class>seklund.Servlet</servlet-class>
	    
	        <init-param>
	        <param-name>myParam</param-name>
	        <param-value>paramValue</param-value>
	        </init-param>
	</servlet>
	 <servlet-mapping>
        <servlet-name>controlServlet</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
	
</web-app>

